#app {
   font-family: sans-serif;
   flex-direction: column;
   padding: 20px;
   min-height: 800px;
}

.green {
   color: #2e8b57;
}

.red {
   color: #ff6347;
}

.orange {
   color: #ffa500;
}

.uppercase {
   text-transform: uppercase
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   height: 64px;
   width: 64px;
}

a:hover {
   text-decoration: underline;
}

ul li {
   margin-top: 5px;
}

button {
   padding: 10px;
}

.row {
   justify-content: space-around;
   display: flex !important;
   flex-direction: row !important;
}

span {
   cursor: pointer;
}